[submodule "road/priority_encoder"]
	path = road/hdl/priority_encoder
	url = https://github.com/andrewpeck/priority_encoder
[submodule "yml2hdl"]
	path = yml2hdl
	url = https://gitlab.com/tcpaiva/yml2hdl
